= form_for @profile do |f|

  = f.label :age

  = f.text_field :age

  = f.label :dob

  = f.text_field :dob
  
  = f.label :gender

  = f.text_field :gender

  = f.label :name

  = f.text_field :name
      
  = f.submit :save
  


