= form_for @flat_ownership do |f|

  = f.label :flat_id

  = f.text_field :flat_id

  = f.label :user_id

  = f.text_field :user_id
  
  = f.label :owonership_type

  = f.text_field :owonership_type

  = f.label :tenure_start

  = f.text_field :tenure_start

  = f.label :tenure_end

  = f.text_field :tenure_end

  = f.submit :save
  


